
.Container {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}
.LinkList {
  display: flex;
  gap: 32px;
}

.LinkItem {
  background-color: var(--yellow);
  padding: 8px;
  border-radius: 8px;
}

.Link {
  color: var(--black);
}
