@font-face {
  font-family: 'ArialMT';
  src: url('../assets/fonts/ArialMT.eot');
  src: local('ArialMT'), local('ArialMT'),
  url('../assets/fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/ArialMT.woff') format('woff'),
  url('../assets/fonts/ArialMT.ttf') format('truetype');
}
