
.Container {
  margin-top: 72px;
  display: grid;
  grid-template-columns: 515px 732px;
  grid-column-gap: 24px;
}

.LessonTitle {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Lesson {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Video {
  background-color: lightgray;
  border: 1px solid var(--yellow);
  border-radius: 8px;
  height: 384px;
  overflow: hidden;
}

.FeedbackForm {
  display: flex;
  align-items: center;
  gap: 24px;
}

